@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap');

$primary: #2d53cf;

$secondary: lighten($primary, 15%);
$white: #f9f9f9f9;
$black: rgb(19, 18, 18);
$grey:#c2c2bd;
$light-grey:lighten(#c2c2bd, 5%);
$green:  lighten(#09b33c,10%);
$dark-green:  lighten(#09b33c,8%);
$red: rgb(231, 40, 22);

html, *{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    // background:  $primary;
    // background: linear-gradient(90deg, $primary, $secondary);
    // background: linear-gradient(90deg, pink 50%, cyan 50%);
    width:100vw;
    height: 100vh;
    background-image: linear-gradient(to top, $primary,#2949af);
    font-family: 'Baloo Bhaina 2',cursive;
    font-size: 16px;
}

#create-todo{
    width: 100%;
    height: 0px;
    border-radius: 3px;
    overflow: hidden;
    // padding: 10px;
    box-sizing: border-box;
    

    .todo-input{
        margin:10px 0 10px 0;
        label{
            font-size: 1.5rem;
            display: inline-block;
            padding: 0px;
        }
        input{
            height: 40px;
            font-size: 1.5rem;
            border:none;
            // border-bottom:$secondary 2px solid;
            border: $grey 2px solid;
            outline: none;
            display: block;
            width: 100%;
            padding:10px;
            
        }
    }
    .buttons-create{
        float: right;
        margin-bottom: 10px;
        button{
            color:$white;
            font-size: 1.2rem;
            background: none;
            outline: none;
            border: none;
            margin:5px;
            padding:8px;
            background: $primary;
            border-radius: 3px;
            cursor: pointer;
            &:hover{
                background: lighten($primary, 5%);
            }

        }
    }
}



.task-description{
    background: $white;
    box-shadow: 0px 3px 10px 1px $black;
    position: absolute;
    display: inline-block;
    top: 50%;
    left:50%;
    opacity: 0;
    width: 500px;
    max-height: 600px;
    margin-left:-250px;
    margin-top:-294px;
    z-index: 10;
    border-radius: 5px;
    

    padding: 10px 15px 40px 8px;
    font-size: 1.2rem;
    color: $black;

    h2 {
        padding: 3px;
        padding-bottom:0;
        height: 50px;
        border-bottom:2px solid $light-grey;
    }

    .task-input-area{
        display: flex;
        flex-direction: column;
        .task{
            position: relative;
            margin: 15px 0 15px 0;
            label{
                display: inline-block;
                position: relative;
                z-index: 10;
                color: $black;
                background-color: $white;
                height: 30px;
                left:5px;
                padding-top:7px;
                cursor:text;
                
                
            }
            input {
                width: 100%;
                outline: none;
                height: 2.5rem;
                display: inline-block;
                padding: 9px 3px 9px 3px;
                border: $secondary solid 1px;
                font-size: 1.1rem;
                position: absolute;
                top:24px;
                left:0;
                z-index: 5;
                // padding:
                
            }
        }
    }
}

.back-screen{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: $secondary;
    opacity: 0.2;
}

#no-items-msg{
    border-radius: 5px;
    background: $light-grey;
    text-align: center;
    opacity: 0.9;
    font-size: 1.3rem;
    color: $white;
    display: none;
    width: 70%;
    position:relative;
    margin:0 auto;
    margin-top: 30px;
}

.container{

    h1{
        color: $white;
        font-size: 4em;
        text-align: center;
    }
    #menu{
        position: relative;
        border-radius: 4px;
        margin:0 auto;
        margin-bottom: 10px;
        background: $white;
        padding: 25px;
        width: 700px;

        .buttons{ 
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 10px;
            text-align: center;
            margin-top: 3px;
            
            button {
                cursor: pointer;
                color: white;
                margin: 0 auto;
                width: 100%;
                font-size: 1.2rem;
                outline: none;
                border: none;

                background: $light-grey;

                height: 1.8rem;
                border-radius: 5px;
                padding:4px 0 4px 0;


                &:hover{
                    background: $grey;
                }

                &.create{
                    background: $green;
                    &:hover{
                        background: $dark-green;
                    }

                }   
            }
            
        }

        .input-search{
            position: relative;
            height: 3.7rem;
            margin-bottom:15px;
            // height: ;
            // display: flex;
            // flex-direction: column;
            // font-size: 1.8rem;
            
            input{
                position: relative;
                outline: none;
                border:none;
                background: none;

                padding-bottom:5px;
                width: 100%;
                height: 1.8rem;
                top:1.9rem;

                font-size: 1.5rem;
                color: $black;
                border-bottom: $secondary 2px solid;
                transition: all .2s;

                &:hover, &:active{
                    border-bottom: $primary solid 2px;
                }
                &:valid + .label-search{
                    top: -5px;
                    left:0;
                    font-size: 1.2em;
                }
            }
            .label-search{
                position: absolute;
                left:0px;
                top:1.4rem;
                pointer-events: none;
                

                transition: all .3s ease-out;
                font-size: 1.5rem;
                color:$secondary;

            }
        }

        #to-dos{
            padding:5px;
            font-size: 1.5rem;
            min-height: 100px;
            position:relative;

            .item{
                position: relative;
                

                margin-top:10px;
                margin-bottom:10px;
                
                height: 50px;
                padding: 3px;
                
                
                border-radius: 35px;
                border: $secondary 2px solid;

                transition: all 1s;
                transition: transform .9s;
                

                cursor: pointer;
                &:hover{
                    transform: translate(0, -2px);
                    border: $secondary 2px solid;
                }
                p{
                    color:$black;
                    display: inline-block;
                    margin-left: 13px;
                    padding-bottom: 0;
                }
                button{
                    background: transparent;
                    border:none;
                    color: $white;
                    top:-2px;

                    cursor: pointer;
                    height: 50px;
                    border-radius:50%;
                     &.delete{

                        // border-top-right-radius: 35px;
                        // border-bottom-right-radius: 35px;
                        // border: 3px solid lighten($red, 10%);

                        position: absolute;
                        right: -2px;
                        background: lighten($red, 10%);
                        width: 49px;
                        &:hover{
                            background: $red;
                        }
                    }
                     &.infos{
                         position: absolute;
                         right:47px;
                         background: lighten($green,5%);
                         width: 49px;
                         color: $white;
                         font-size: 1rem;
                         &:hover{
                             background: $green;
                         }
                    }
                }
                &.open{
                    // display: inline-block;
                    // height: 200px;
                    // box-shadow: none;
                    transform: scale(1.05, 1.05);
                    
                    
                }


            }
        }

    }
}